<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <!--@@include = ./meta.html-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- !!!! gulp.js의 injection으로 대체해야됨. 한파일에서... 로딩하는걸로 변경해? -->
    <link rel="stylesheet" href="./css/style.css">
    <script>
    (function () {
        var img = new Image();
        var _1 = new Image();
        var _2 = new Image();
        var _3 = new Image();
        img.src = './image/img.jpg'
        _1.src = './image/1.jpg'
        _2.src = './image/2.jpg'
        _3.src = './image/3.jpg'
    })();
    </script>
    <script src="js/jquery.min.js"></script>
</head>
<body>
    <div id="barrior" class="barrior">&nbsp;</div>
    <header id="header">
        <div class="wrapper">
        <!--@@placeholder = header-->
        </div>
    </header>

    <article id="content">

        <section id="about" class="summary">
            <div class="wrapper">
            <!--@@placeholder = summary-->
            </div>
        </section>

        <section class="what_we_do">
            <div class="wrapper">
            <!-- @@placeholder = whatwedo -->
            </div>
        </section>

        <section id="service" class="service title">
            <div class="wrapper">
            <!-- @@placeholder = service_title -->
            </div>
        </section>


        <section class="service">
            <div class="wrapper">
            <!-- @@placeholder = service -->
            </div>
        </section>

        <section id="portfolio" class="portfolio title">
            <div class="wrapper">
            <!-- @@placeholder = portfolio_title -->
            </div>
        </section>

        <section class="portfolio">
            <div class="wrapper">
            <!-- @@placeholder = portfolio -->
            </div>
        </section>

        <section id="contact" class="contact title">
        </section>

        <section class="contact">
            <div class="wrapper">
            <!-- @@placeholder = contact -->
            </div>
        </section>

    </article>

    <footer id="footer" class="footer">
        <div class="wrapper">
            <h2>Tokenomia</h2>
            <address>14, Teheran-ro 26-gil<br />
                Gangnamgu Seoul 06236</address>
            <p>
                 © 2018, Tokenomia All Rights Reserved.
            </p>
        </div>
    </footer>

    <!-- !!!! concat으로 대체할것 -->
    <!-- jquery cdn -->
    <!-- gulp.js의 injection으로 대체해야됨 -->
    <!-- inject:js -->
    <!-- endinject -->
    <script src="js/js.js"></script>
</body>
</html>


