<!-- 메타태그 모음 -->
<!-- 여기도 어딘가에서 변수를 받아서 처리를 해야겠지? -->
<meta charset="UTF-8">

<title>TOKENOMIA</title>

<meta charset="utf-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="<!--@@var= description-->">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="TOKENOMIA">
<meta property="og:description" content="<!--@@var= description-->">
<meta property="og:image" content="http://TOKENOMIA.io/image/bnr_TOKENOMIA.png">
<meta property="og:url" content="http://TOKENOMIA.io">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="http://TOKENOMIA.io">
<meta name="twitter:title" content="TOKENOMIA">
<meta name="twitter:description" content="<!--@@var= description-->">
<meta name="twitter:image" content="http://TOKENOMIA.io/image/bnr_TOKENOMIA.png">

<!-- 여기 죄다 변수처리 해야될것들 투성이임 -->
