@charset 'UTF-8';

section.portfolio {
    .wrapper {
        padding:144px 0;
    }

    h2,h2+p {
        margin:0 auto;
        text-align:center;
    }

    h2 {
        font-size:rem(32);
        font-weight:300;
        color:#000;
    }

    h2 + p {
        margin-top:24px;
        line-height:1.7;
    }

    .card.view.container {
        margin-top:144px;

        text-align:center;

        // display:flex;
        // flex-flow:row wrap;

        > div {
            box-sizing:border-box;
            position:relative;

            background-color: #ffffff;
            border: solid 1px #e2e2e2;
            border-radius:2px;

            vertical-align:top;
            font-size:rem(14);
            width:342px;
            height:480px;

            display:inline-block;

            margin:8px;
            padding-top:48px;

            p  {
                margin:48px 40px 0;
                line-height:1.71;
                color:#666;
            }

            a.go.button {

                position:absolute;
                bottom:0;
                left:0;
                right:0;

                height:70px;
                line-height:68px;

                margin:48px auto 0;

                font-size:rem(16);

                border-radius: 2px;
                background-color: #062e56;
                color:#fff;

                &:before {
                    content:'+';
                    display:inline-block;
                    margin-right:0.3em;
                }
            }

            a.contact_to {
                line-height:1.7;
            }
        }
    }
}
