@charset 'UTF-8';

section.contact {
    .wrapper {
        padding:231px 0;
    }

    h2 {
        @include ir();
    }
    h3 {
        font-size:rem(32);
        font-weight:300;
        text-align:center;

        color:#000;
    }

    h3 + p {
        font-size:rem(14);
        font-weight:300;
        text-align:center;
        line-height:1.7;

        margin-top:24px;
        color:#333;
    }

    h3 + p > a  {
        display:block;
        margin-top:48px;
        color:#000;

        font-weight:700;
        font-size:rem(20);
    }
}
