@charset 'UTF-8';

section.news {
	@include media ('<600px') {
        min-height:600px;
    }


    .wrapper {
		max-width:calc(1250px - 320px);
        // 상하 여백
        @include media ('>1200px') {
            padding-bottom:183px;
        }

        @include media ('<600px') {
            padding-bottom:64px;
        }
    }

    h2 {
        font-size:rem(16);
        font-weight:500;

        @include media ('>1250px') {
            margin-bottom:32px;
        }

        @include media ('<1249px') {
            margin-bottom:24px;
        }
        @include media ('<600px') {
            margin-bottom:16px;
        }

        sub {
			@include media ('>1250px') {
                vertical-align:inherit;
                color:#666;
                font-weight:300;

                &:before {
                    content : '- ';
                }
            }

			@include media ('<1249px') {
                vertical-align:inherit;
                color:#666;
                font-weight:300;

                &:before {
                    content : '- ';
                }
            }

			@include media ('<600px') {
                display:none;
            }

        }

        &:nth-of-type(2) {
            margin-top:40px;
        }
    }

	> div {
		min-height:300px;
	}

	// 개별 article
	> div a {
		box-sizing:border-box;
		transition:all 300ms linear;

		&:hover {
			box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2);

			h3 {
				text-decoration:underline;
			}
		}

		@include media ('>1250px') {
			width:302px;
			margin-bottom:40px;

			display:inline-block;
			vertical-align:top;
			margin-left:12px;

			&:first-child {
				margin-left:0;
			}

			&:nth-of-type(3n+1) {
				margin-left:0;
			}
		}

		@include media ('<1249px') {
			width:calc(100%/3 - 8px);
			margin-bottom:40px;

			display:inline-block;
			vertical-align:top;
			margin-left:12px;

			&:first-child {
				margin-left:0;
			}

			&:nth-of-type(3n+1) {
				margin-left:0;
			}
		}

        @include media ('<600px') {
			display:block;
			width:100%;
			&:first-child {
				margin-top:0;
			}
			margin-top:48px;
		}

		h3 {
			box-sizing:border-box;
			font-size:rem(14);
			color:#333;
			font-family:$em-font;
			font-weight:500;
			line-height:1.6;
			padding:0 0.6em;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;

			@include media ('>1250px') {
				width:21em;
			}
		}

		p {
			margin-top:12px;
			padding:0 0.6em 0.6em;
			font-size:rem(12);
			line-height:1.6;
			word-break:break-all;
			color:#666;

		}

		span {      // image container
			display:block;
			height:197px;
			background-position:center center;
			background-repeat:no-repeat;
			background-size:cover;
			margin-bottom:20px;
		}
	}

}
