@charset 'UTF-8';

section.service {

    // 각기 width가 달라 세부 설정에서 처리하기로 함
    $max : 1100px;

    .wrapper {
        max-width:$max;

        padding-top:144px - 96px;
        padding-bottom:144px;
        @include media ('<790px') {
            padding-top:64px;
            padding-bottom:64px;
        }
    }

    h2 {
          font-size: rem(32);
          font-weight: 300;
          text-align: center;
          line-height:1.6;
          margin-bottom:144px - 96px;

          @include media ('<900px') {
              font-size:rem(24);
          }

          @include media ('<670px') {
              font-size:rem(20);
              margin-bottom:24px;
          }

          @include media ('<480px') {
              br {
                  display:none;
              }
          }
      }

    h3 {
        font-size: rem(28);
        font-weight: 300;
        color: #3a4961;
    }

    h3 + p {
        font-size:rem(14);
        color:#666;
        line-height:1.71;

        // min-height:calc(50000px / 348px);

        // &:lang(en) {
        //     min-height:165px;
        // }
    }

    .container.column.view {
        overflow:hidden;
        box-sizing:border-box;

        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;

        @include media ('<900px') {
            display:block;
        }
        > div {
            flex:0 0 47%;
            // width:(100vw/2-7);
            // max-width:485px;

            box-sizing:border-box;
            padding-left:82px + 55px;
            margin-top:96px;

            @include media ('<790px') {
                margin-top:48px;
            }
        }

        // > div:nth-child(2n-1) {
        //     float:left;
        // }

        // > div:nth-child(2n) {
        //     float:right;
        // }

        // bg-image 처리
        > div {
            background-position-x:left;
            background-position-y:1em;
            background-repeat:no-repeat;
            background-size:96px 96px;
        }

        > div:nth-of-type(1) { background-image:url('../image/icon-chart-presentation-retro@3x.png'); }
        > div:nth-of-type(2) { background-image:url('../image/icon-chart-presentation-retro-copy@3x.png'); }
        > div:nth-of-type(3) { background-image:url('../image/icon-chart-presentation-retro-copy-2@3x.png'); }
        > div:nth-of-type(4) { background-image:url('../image/icon-chart-presentation-retro-copy-3@3x.png'); }

        // 반응형
        @include media ('<790px') {
            > div {
                background-position:left top;
            }
        }

        @include media ('<500px') {
            > div {
                background-position:center top;
                padding-left:0;
                padding-top:96px + 40px;

                h3 + p {
                    margin-top:24px;
                }

            }
        }

    }
}

section.service.title {
    background:linear-gradient(rgba(0,0,0,0.3)), url('../image/1.jpg') 60% bottom no-repeat transparent;
    background-size:cover;

    .wrapper {
        padding-top:0;
        padding-bottom:0;
    }

    h2 {
        margin-bottom:24px;
    }

    h2 + p {
        font-size:rem(14);
        text-align:center;

        @include media ('<500px') {
            br {display:none;}
        }
    }
}
