@charset 'UTF-8';

section.what_we_do {
    $max : 788px;

    .wrapper {
        padding:144px 0;
        max-width:$max;
    }

    h2 {
        font-size:rem(32);
        font-weight:300;
        width:290px;
        line-height:1.4;
        position:relative;
        margin-bottom:64px;
    }

    h2:before {
        content:'';
        width:21px;
        height:15px;
        display:block;
        font-family:serif;
        background:url('../image/icon-quote-after@3x.png');
        background-size:contain; 
        
        position:absolute;
        left:0;
        top:-24px;
    }

    h2 ~ p {
        font-size:rem(14);
        line-height:1.6;
        color:#3a4961;


        em {
            display:inline-block;
            margin:0 0.3em;
        }
    }

}


