@charset 'UTF-8';

section.portfolio {
    .wrapper {
        padding:144px 0;
        width:1200px;
    }

    h2,h2+p {
        margin:0 auto;
        text-align:center;
    }

    h2 {
        font-size:rem(32);
        font-weight:300;
    }

    h2 + p {
        margin-top:24px;
        line-height:1.7;
    }

    .card.view.container {

        text-align:center;

        // display:flex;
        // flex-flow:row wrap;

        > div {
            box-sizing:border-box;
            position:relative;

            background-color: #ffffff;
            border: solid 1px #e2e2e2;
            border-radius:2px;

            vertical-align:top;
            font-size:rem(14);
            width:342px;
            height:434px;

            display:inline-block;

            margin:8px;
            padding-top:30px;

            p  {
                margin:24px 27px 0;
                line-height:1.71;
                color:#666;
            }

            a.go.button {

                position:absolute;
                bottom:0;
                left:0;
                right:0;

                height:70px;
                line-height:68px;

                margin:48px auto 0;

                font-size:rem(16);

                border-radius: 2px;
                background-color: #062e56;
                color:#fff;

                &:before {
                    content:'+';
                    display:inline-block;
                    margin-right:0.3em;
                }
            }

            a.contact_to {
                line-height:1.7;
                display:block;
                position:relative;

                padding-top:125px;

                color:#333;

                &:before {
                    position:absolute;
                    top:0;
                    left:50%;
                    transform:translateX(-50%);
                    content:'';
                    background:url('../image/group-14@3x.png');
                    background-size:100%;
                    display:block;
                    width:103px;
                    height:103px;
                }
            }
        }

        > div {
            h3 {
                @include ir();

                margin:0 auto;
                background-repeat:no-repeat;
                background-position:center center;
                width:180px;
                height:90px;
            }


            &.liter h3 {
                background-image:url('../image/41@3x.png');
                background-size:contain;
            }

            &.amo h3 {
                background-image:url('../image/21@3x.png');
                background-size:contain;
            }

            &.cloudbric h3 {
                background-image:url('../image/31@3x.png');
                background-size:contain;
            }

            &.zper h3 {
                background-image:url('../image/11@3x.png');
                background-size:contain;
            }

            &.insureum h3 {
                background-image:url('../image/51@3x.png');
                background-size:contain;
            }

            &.contact {
                padding-top:125px;
            }
        }
    }
}

section.portfolio.title {
    background:linear-gradient(rgba(0,0,0,0.3)), url('../image/2.jpg') 50% 44% no-repeat;
    background-size:150%;
}
