@charset 'UTF-8';

section.what_we_do {
    $max : 788px;

    .wrapper {
        padding:144px 0;
        max-width:$max;
    }

    h2 {
        font-size:rem(32);
        font-weight:300;
        width:290px;
        line-height:1.4;
    }
    h2 + p {
        font-size:rem(14);
        line-height:1.6;
        color:#3a4961;

        margin-top:64px;

        em {
            display:inline-block;
            margin:0 0.3em;
        }
    }

}

section.service {

    // 각기 width가 달라 세부 설정에서 처리하기로 함
    $max : 1100px;

    .wrapper {
        padding:144px 0;
        max-width:$max;
    }

    h2 {
          font-size: rem(32);
          font-weight: 300;
          text-align: center;
          color: #000000;
          line-height:1.6;
          margin-bottom:144px - 96px;
    }

    h3 {
        font-size: rem(28);
        font-weight: 300;
        color: #3a4961;
    }

    h3 + p {
        margin-top:24px;
        font-size:rem(14);
        color:#666;
        line-height:1.71;
    }

    .container.column.view {
        overflow:hidden;
        box-sizing:border-box;

        > div {
            box-sizing:border-box;
            width:485px;
            margin-top:96px;
            padding-left:82px + 55px;
        }

        > div:nth-child(2n) {
            float:left;
        }

        > div:nth-child(2n+1) {
            float:right;
        }
    }
}
