@charset 'UTF-8';

section.contact {
    .wrapper {
        padding:183px 0;
    }

    h2 {
        @include screen_reader();
    }
    h3 {
        font-size:rem(32);
        font-weight:300;
        text-align:center;

        color:#000;
    }

    h3 + p {
        font-size:rem(14);
        font-weight:300;
        text-align:center;
        line-height:1.7;

        margin-top:24px;
        color:#333;
    }

    h3 + p > a  {
        display:block;
        margin-top:24px;
        color:#062e56;

        font-weight:700;
        font-size:rem(20);
    }
}

section.contact.title {
    background:url('../image/3.jpg') 55% 55% no-repeat;
    background-size:cover;
}

a.ci.telegram {
    @include ir();
    background:url('../image/icon-telegram-white@3x.png');
    background-size:cover; 
    width:24px;
    height:24px;
    margin:24px auto 0;
}
