@charset 'UTF-8';

section.service {

    // 각기 width가 달라 세부 설정에서 처리하기로 함
    $max : 1100px;

    .wrapper {
        padding:144px 0;
        max-width:$max;
    }

    h2 {
          font-size: rem(32);
          font-weight: 300;
          text-align: center;
          line-height:1.6;
          margin-bottom:144px - 96px;
    }

    h3 {
        font-size: rem(28);
        font-weight: 300;
        color: #3a4961;
    }

    h3 + p {
        font-size:rem(14);
        color:#666;
        line-height:1.71;

        min-height:96px;
    }

    .container.column.view {
        overflow:hidden;
        box-sizing:border-box;

        > div {
            box-sizing:border-box;
            width:485px;
            margin-top:96px;
            padding-left:82px + 55px;
        }

        > div:nth-child(2n-1) {
            float:left;
        }

        > div:nth-child(2n) {
            float:right;
        }

        // bg-image 처리
        > div {
            background-position-x:left;
            background-position-y:1em;
            background-repeat:no-repeat;
            background-size:96px 96px;
        }

        > div:nth-of-type(1) { background-image:url('../image/icon-chart-presentation-retro@3x.png'); }
        > div:nth-of-type(2) { background-image:url('../image/icon-chart-presentation-retro-copy@3x.png'); }
        > div:nth-of-type(3) { background-image:url('../image/icon-chart-presentation-retro-copy-2@3x.png'); }
        > div:nth-of-type(4) { background-image:url('../image/icon-chart-presentation-retro-copy-3@3x.png'); }
    }
}

section.service.title {
    background:linear-gradient(rgba(0,0,0,0.3)), url('../image/1.jpg') 60% 45% no-repeat transparent;
    background-size:140%;

    h2 {
        margin-bottom:24px;
    }

    h2 + p {
        font-size:rem(14);
        text-align:center;
    }
}
