@charset 'UTF-8';

section.summary {

    background:linear-gradient(rgba(0,0,0,0.7)), url('../image/img.png') center center no-repeat;
    background-size:cover;

    .wrapper {
        margin-top:90px;
        max-width:1200px;
        display:flex;
        align-items:center;
        height:640px;
        padding:0;
        position:relative;
    }

    h2 {
        @include screen_reader();
    }

    // description
    h2 + p {
        color:#fff;
        font-size:rem(28);
        font-weight:300;
        width:630px / 946px * 100%;

        font-weight:300;
    }

    a.contact {
        $size:200px;

        display:block;
        box-sizing:border-box;
        color:#fff;
        font-size:rem(20);

        padding:32px 24px;

        position:absolute;
        bottom:-$size / 2;
        right:0;

        width:$size;
        height:$size;

        background-color: #062e56;
        box-shadow: 0 24px 64px 0 rgba(0, 0, 0, 0.4); 

        &:after {
            position:absolute;
            bottom:33px;
            left:24px;
            content:'';
            display:block;
            background:url('../image/icon-arrow.png') center center no-repeat transparent;
            width:13px;
            height:18px;
            object-fit:contain;
        }
    }
}
