@charset 'UTF-8';

footer {
    padding:0 20px;
    background-color: #062e56;
    height:264px;

    display:flex;
    flex-direction:column;
    justify-content:center;

    h2,address {
        text-align:center;
        margin:0 auto;
    }

    h2 {
        @include ir();
        width:211px;
        height:88px;

        background:#600;
    }

    address {
        font-size:rem(14);
        color:#fff;
    }
}
