article .link_group {
    a {
        display:inline-block;
    }
}


header .wrapper {
    padding:0 48px;
    margin:0 auto;
    height:90px;
    max-width:1300px;
}

.wrapper {
    box-sizing:border-box;
}

article {
    > section {
        box-sizing:border-box;
        padding-left:32px;
        padding-right:32px;

        @include media ('<=320px') {
            padding-left:20px;
            padding-right:20px;
        }

        > .wrapper {
            margin:0 auto;
            padding:144px 0;

            // 상하 여백
            @include media ('<900px') {
                padding:100px 0;
            }

            @include media ('<600px') {
                padding:64px 0;
            }
        }
    }
}

section.title {
    height:33.3vw;
    min-height:280px;
    max-height:640px;

    .wrapper {
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:100%;
        max-height:inherit;
        padding:0;
        box-sizing:border-box;
    }

    h2, p {
        color:#fff;
    }

}
